<h3 class="mx-2">Formulario</h3>
<form class="row mx-2" (submit)="guardar($event)">
    <div class="col-md-10">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" id="nombre" class="form-control" [formField]="personaFormulario.nombre">
    </div>

    <div class="col-md-4">
        <label for="edad" class="form-label">Edad</label>
        <input type="number" id="edad" class="form-control" [formField]="personaFormulario.edad">
    </div>

    <div class="col-md-10 mt-3 mx-5" >
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
    
</form>
