
<body class="d-flex justify-content-center align-items-center vh-100 bg-light">

    <div class="card" style="width: 18rem;">
        <img src="https://lh3.googleusercontent.com/a/ACg8ocIkaVomOFTdVAqn5UN308ixH1oRZKcYCwZJ-7_Xn6DnhTfS0mmz=s288-c-no" class="card-img-top" alt="...">
        <!-- Centramos también el texto por si acaso con text-center -->
        <div class="card-body text-center">
            <p class="card-text">Me llamo Hans, estudiante de la universidad Continental y estoy cursando el quinto ciclo de mi carrera en Ingenieria de Sistemas e Informatica.</p>
        </div>
    </div>
    
</body>

